# Created by .ignore support plugin (hsz.mobi)
.idea
nbproject
.buildpath
.project
.settings
/vendor/
Thumbs.db
composer.lock
runTests.sh
runPsalm.sh
runRector.sh
composer_update.sh
phpmetricks.sh
/.php_metrics/